<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Reg</display-name>
    <servlet-name>Reg</servlet-name>
    <servlet-class>com.dip.lab.Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rega</display-name>
    <servlet-name>Rega</servlet-name>
    <servlet-class>com.dip.lab.Rega</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rega</servlet-name>
    <url-pattern>/Rega</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.dip.lab.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingIn</display-name>
    <servlet-name>SingIn</servlet-name>
    <servlet-class>com.dip.lab.SingIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingIn</servlet-name>
    <url-pattern>/SingIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Site</display-name>
    <servlet-name>Site</servlet-name>
    <servlet-class>com.dip.lab.Site</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Site</servlet-name>
    <url-pattern>/Site</url-pattern>
  </servlet-mapping>
</web-app>